<!DOCTYPE html>
<html>
<head>
  <title>Mecanian</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class = 'main'>
    <span class = 'logo' >
      <%= link_to root_path do %>
        <%= image_tag asset_path "logo.png" %>
      <% end %>
    </span>
    <br>
    <%= yield %>
    <br>
    <div class = 'footer'>
      MECANIAN 2016
    </div>
  </div>
</body>
</html>
